/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --primary: #0f172a;
  --primary-light: #f1e8ec;
  --accent: #c9a45c;
  --bg: #f8f9fb;
  --text: #1e293b;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Outfit", "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
  scroll-behavior: smooth;
  user-select: none;          /* by using this we won't be able to select text*/   
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.animate-marquee {
  animation: marquee 20s linear infinite;
}

input,
select {
  outline: none;
}

.batch_heart {
  background: var(--accent);
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b08e4a;
}

